name: Build and upload binary

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build
      
    - name: Upload release binary
      uses: actions/upload-artifact@v4
      with:
        name: rust-release-binary
        path: target/release/arino
